<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<style type="text/css">
html,body {
    height: 100%;
    background: cornflowerblue;
}
</style>
<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-6 center-margin">
            <h3 class="text-center pad15B font-gray text-transform-upr font-size-23"><b>Register</b><span class="opacity-80"></span></h3>
            <div class="content-box border-top border-red clearfix">
                <div class="content-box-wrapper row">
					<div class="col-md-12">
            <div id="ermsg">
			</div> 
			<div class="pad20A">
				<form autocomplete="off" id="registerform" action="../Users/create" method="post">
					<div class="form-group">
						<label for="username">User Name:</label>
						<div class="input-group input-group-lg">
							<span class="input-group-addon addon-inside bg-white font-primary">
								<i class="glyph-icon icon-user"></i>
							</span>
							<input type="text" class="form-control" id="username" placeholder="Enter Username" name="username"/>
						</div>
					</div>
					<div class="form-group">
						<label for="name">Name:</label>
						<div class="input-group input-group-lg">
							<span class="input-group-addon addon-inside bg-white font-primary">
								<i class="glyph-icon icon-user"></i>
							</span>
							<input type="text" class="form-control" id="name" placeholder="Enter name" name="name"/>
						</div>
					</div>
                  <div class="form-group">
                    <label for="title">Title:</label>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon addon-inside bg-white font-primary">
                        <i class="glyph-icon icon-briefcase"></i>
                      </span>
					  <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title"/>
                    </div>
                  </div>
				<div class="form-group">
					<label for="email">Email address:</label>
					<div class="input-group input-group-lg">
						<span class="input-group-addon addon-inside bg-white font-primary">
							<i class="glyph-icon icon-envelope-o"></i>
						</span>
						<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
					</div>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<div class="input-group input-group-lg">
						<span class="input-group-addon addon-inside bg-white font-primary">
							<i class="glyph-icon icon-unlock-alt"></i>
						</span>
						<input type="password" class="form-control" id="password" placeholder="Password" name="password">
					</div>
				</div>
				<div class="form-group">
					<label for="confirm-password">Confirm Password:</label>
					<div class="input-group input-group-lg">
						<span class="input-group-addon addon-inside bg-white font-primary">
							<i class="glyph-icon icon-unlock-alt"></i>
						</span>
						<input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" name="confirm-password"/>
						<input type="hidden" value="<%= _csrf %>" name="_csrf"  />
					</div>
					</div>
					</form>
					<div class="form-group">
						<div class="col-md-6"><button type="submit" class="btn btn-block btn-blue-alt" onclick="submitvalues();" style="border-radius: 35px;">Register</button></div>
						<div class="col-md-6"><button type="submit" class="btn btn-block btn-red-alt" onclick="window.location.href='login'" style="border-radius: 35px;">Back to Login</button></div>
						
						
					</divs>
					</div>
				</div>
          </div>
        </div>
        </div>
    </div>
</div>
