
<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<style type="text/css">
html,body {
    height: 100%;
    background: #F5F5F5;
}
</style>
<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-4 center-margin">
            <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">Login <span class="opacity-80"></span></h3>
            <div class="content-box border-top border-red clearfix">
                <div class="content-box-wrapper row">
					<div class="col-md-12">
                        <div id="ermsg">
                        </div>
						<div class="pad20A">
							<form id="pwdresetfrm">
								<div class="form-group">
									<label for="email">Email address:</label>
									<div class="input-group input-group-lg">
										<span class="input-group-addon addon-inside bg-white font-primary">
											<i class="glyph-icon icon-envelope-o"></i>
										</span>
										<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
									</div>
								</div>
                                <input type="hidden" value="<%= _csrf %>" name="_csrf"  />
							</form>
							<div class="form-group">
								<button type="submit" class="btn btn-block btn-blue-alt" onclick="reset_password();">Login</button>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
